body
{
  font-size:16px;
  font-family:"Helvetica",sans-serif;
  font-weight:100;
  background-color:#DDDDDD;
  background-image:url("lines.png");
  background-attachment:fixed;
}
div
{
  margin:10px auto 0 auto;
  padding:8px;
  width:800px;
  border:1px solid #666666;
  background-color:#FFFFFF;
  border-radius:8px;
  box-shadow:0px 5px 10px rgba(0,0,0,0.6);
}
object
{
  border: 1px dashed #777777;
}
#header
{
  border:0;
  width:100%;
  height:105px;
}
.button
{
  margin:0px;
  padding:3px;
  border:1px solid #666666;
  border-radius:5px;
  color:#000000;
  text-decoration:none;
  white-space:nowrap;
}
.button:hover
{
  background-color:#EEEEEE;
}
#navigation
{
  background:transparent;
  margin:0;
  overflow:hidden;
}
p
{
  white-space:pre-wrap;
  margin:5px;
}
h1
{
  margin:5px;
  font-weight:100;
  font-size:350%;
}
h2
{
  margin:5px;
  font-weight:100;
  font-size:230%;
}
h3
{
  margin:5px;
  font-weight:100;
  font-size:150%;
}
b
{
  font-weight:700;
}
pre
{
  padding:5px;
  font-size:14px;
  font-family:"Courier",monospace;
  border:1px dashed #777777;
  background-color:#EEEEEE;
  overflow:auto;
  margin:0;
}
a
{
  color:#0022FF;
  font-weight:500;
  text-decoration:none;
}
a:hover
{
  text-decoration:underline;
}