body
{
  font-size:16px;
  font-family:"Helvetica",sans-serif;
  font-weight:100;
  background-color:#33CC33;
  //background-color:#66DD55;
  //background-image:url("grid.png");
}
div
{
  margin:10px auto 0 auto;
  padding:8px;
  width:800px;
  border:1px solid #666666;
  background-color:#FFFFFF;
  border-radius:10px;
  box-shadow:0px 5px 10px rgba(0,0,0,0.6);
}
iframe
{
  border:0;
  width:100%;
  height:100px;
}
.button
{
  margin:0px;
  padding:3px;
  border:1px solid #666666;
  border-radius:5px;
  color:#000000;
  text-decoration:none;
  white-space:nowrap;
}
.button:hover
{
  background-color:#EEEEEE;
}
#navigation
{
  background:transparent;
  margin:0;
  overflow:hidden;
}
p
{
  white-space:pre-wrap;
  margin:5px;
}
h1
{
  margin:5px;
  font-weight:500;
  font-size:300%;
}
h2
{
  margin:5px;
  font-weight:500;
}
b
{
  font-weight:500;
}